In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import pandas as pd

In [ ]:
df = pd.read_csv('train.csv')

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df.dropna(inplace=True)

In [ ]:
df['Sex'] = df['Sex'].map({"male":1,'female':0})
df["Embarked"] = df["Embarked"].map({"S":1,"C":2,"Q":1})

In [ ]:
target = df['Survived']
data = df[["Pclass","Sex","Age","SibSp","Parch","Embarked"]]

In [ ]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
PassengerId,183.0,455.366120,247.052476,2.00,263.5,457.0,676.0,890.0000
Survived,183.0,0.672131,0.470725,0.00,0.0,1.0,1.0,1.0000
Pclass,183.0,1.191257,0.515187,1.00,1.0,1.0,1.0,3.0000
Sex,183.0,0.519126,0.501005,0.00,0.0,1.0,1.0,1.0000
Age,183.0,35.674426,15.643866,0.92,24.0,36.0,47.5,80.0000
SibSp,183.0,0.464481,0.644159,0.00,0.0,0.0,1.0,3.0000
Parch,183.0,0.475410,0.754617,0.00,0.0,0.0,1.0,4.0000
Fare,183.0,78.682469,76.347843,0.00,29.7,57.0,90.0,512.3292
Embarked,183.0,1.355191,0.479884,1.00,1.0,1.0,2.0,2.0000

In [ ]:
target.head()

1     1
3     1
6     0
10    1
11    1
Name: Survived, dtype: int64

In [ ]:
data.head()

    Pclass  Sex   Age  SibSp  Parch  Embarked
1        1    0  38.0      1      0         2
3        1    0  35.0      1      0         1
6        1    1  54.0      0      0         1
10       3    0   4.0      1      1         1
11       1    0  58.0      0      0         1

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(data,target,test_size=0.3,random_state=2)

In [ ]:
logr = LogisticRegression()
model = logr.fit(X_train,y_train)

In [ ]:
predicted = model.predict(X_test)
predicted

array([1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1,
       0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1])

In [ ]:
model.score(X_test,y_test)

0.7272727272727273

In [ ]:
accuracy_score(y_test,predicted)

0.7272727272727273

In [ ]:
mean_squared_error(predicted, y_test)

0.34545454545454546

In [ ]:
print(classification_report(y_test,predicted))

              precision    recall  f1-score   support

           0       0.75      0.14      0.24        21
           1       0.65      0.97      0.78        34

    accuracy                           0.65        55
   macro avg       0.70      0.56      0.51        55
weighted avg       0.69      0.65      0.57        55