# Random Forest

### Importing Libraries

In [1]:
#Importing required libraries
import pandas as pd 
import numpy as np

### Loading the dataset

In [2]:
#reading the data
data=pd.read_csv('data_cleaned.csv')

In [3]:
data.shape

(891, 25)

In [4]:
#first five rows of the data
data.head()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,0,22.0,7.2500,0,0,1,0,1,0,1,...,1,0,0,0,0,0,0,0,0,1
1,1,38.0,71.2833,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,1,0,0
2,1,26.0,7.9250,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
3,1,35.0,53.1000,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,1
4,0,35.0,8.0500,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1

### Separating independent and dependent variables.

In [5]:
#independent variables
x = data.drop(['Survived'], axis=1)

#dependent variable
y = data['Survived']

### Creating the train and test dataset

In [6]:
#import the train-test split
from sklearn.model_selection import train_test_split

In [7]:
#divide into train and test sets
train_x,test_x,train_y,test_y = train_test_split(x,y, random_state = 101, stratify=y)

## Building a Decision Tree Model

In [8]:
#Importing Decision Tree Classifier 
from sklearn.tree import DecisionTreeClassifier

In [9]:
#creating a decision tree instance
clf = DecisionTreeClassifier(random_state=96)

In [10]:
#training the model
clf.fit(train_x,train_y)

DecisionTreeClassifier(random_state=96)

In [11]:
#calculating score on training data
clf.score(train_x, train_y)

0.9880239520958084

In [12]:
#calculating score on test data
clf.score(test_x, test_y)

0.757847533632287

## Building a Random Forest Model

In [13]:
#Importing random forest classifier 
from sklearn.ensemble import RandomForestClassifier

In [32]:
#creating a random forest instance
clf = RandomForestClassifier(n_estimators=100,max_depth=12,random_state=96)

In [33]:
#train the model
clf.fit(train_x,train_y)

RandomForestClassifier(max_depth=12, random_state=96)

In [34]:
#score on training data
clf.score(train_x, train_y)

0.9655688622754491

In [35]:
#score on test data
clf.score(test_x, test_y)

0.7757847533632287

In [18]:
#looking at the feature importance
clf.feature_importances_

array([0.23041043, 0.23650759, 0.02766848, 0.01696085, 0.0500349 ,
       0.13608447, 0.1681588 , 0.01320989, 0.01617595, 0.00627351,
       0.00425904, 0.00480762, 0.00078874, 0.00262281, 0.01760913,
       0.01218149, 0.01192783, 0.00146993, 0.00190138, 0.00290028,
       0.00060589, 0.01284854, 0.00908377, 0.01550866])

In [19]:
#feature importance against each variable
pd.Series(clf.feature_importances_, index=train_x.columns)

Age           0.230410
Fare          0.236508
Pclass_1      0.027668
Pclass_2      0.016961
Pclass_3      0.050035
Sex_female    0.136084
Sex_male      0.168159
SibSp_0       0.013210
SibSp_1       0.016176
SibSp_2       0.006274
SibSp_3       0.004259
SibSp_4       0.004808
SibSp_5       0.000789
SibSp_8       0.002623
Parch_0       0.017609
Parch_1       0.012181
Parch_2       0.011928
Parch_3       0.001470
Parch_4       0.001901
Parch_5       0.002900
Parch_6       0.000606
Embarked_C    0.012849
Embarked_Q    0.009084
Embarked_S    0.015509
dtype: float64